<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <small><%= comment.commenter %></small>
    <span class="label label-danger"><%= link_to 'Destroy', [comment.article, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
  <div class="panel-body">
    <p><%= comment.body %></p>
  </div>
</div>