<h1 style="text-align: center">Cats Dormitory</h1>
 <p style="text-align: center">At our the award winning Cat Hotel and Lodge our emphasis is to give our guests the 5 star service they deserve, we promise that your cat’s time with us will be truly relaxing, stimulating and enjoyable. See our film.

   We believe that when you are away on holiday your cat would love a holiday too, a time to relax, get pampered, have fun and come home truly refreshed.

   Our promise is to look after every guest as if they were our own, keeping it personal with our stunning suites, underfloor heated indoor designer suites with ensuite outdoor facilities. We promise to provide the best service and facilities available.

   With a choice of the ‘Luxury Hotel’ or the amazing ‘Lodge’ we have accommodation to suite all requirements and family sizes.

   Our knowledge, skills and professionalism provide first class care for your cat giving you the peace of mind you deserve when leaving your most precious family member with us.

   Your cat’s 5 star vacation starts here.</p>

 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Z5E2NABsm88"></iframe>
 </div>
